@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Fira+Sans:wght@400;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-primary{
  background: linear-gradient(
    180deg,
    #38ACDE 0%,
    #D1F9F0 100%
  )
}

.text-coda{
  font-family: 'Coda Caption';
  font-weight: 800;
}

.text-fira-bold{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

.text-fira-medium{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}